# Load Database

In [1]:
import os
import pandas as PD

In [2]:
import django
MODULE_PATH = os.path.dirname(os.getcwd())
os.chdir(os.path.dirname(MODULE_PATH))
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = 'True'
django.setup()

In [3]:
import app_proj.utility as UT
print([x for x in dir(UT) if '_' not in x and len(x) > 8])

['BaseManager', 'ConvertFigureToJson', 'GetTableCounts', 'InsertBulk', 'InsertSingle']

In [4]:
import business_module.models as BM
import business_module.logic.custom as CT
DATA_PATH = os.path.join(MODULE_PATH, 'data')
print([x for x in dir(CT) if '_' not in x and len(x) > 8])

['MyFunction']

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### CRUD Code

In [6]:
infoLs = UT.GetTableCounts()
PD.DataFrame(infoLs)

            Module    Table  Count
0  business_module  LegoSet      0

In [9]:
setsPath = os.path.join(DATA_PATH, 'brickset_set_filter.csv')
setsDf = PD.read_csv(setsPath)
setsDf[20:23]
setsDf.shape

,set_no,name,price_store,price_new,price_used,rating_value,rating_votes,theme_group,theme,subtheme,main_tag,year,volume,weight,piece_cnt,minifig_cnt
20,6627-1,Convertible,NaN,88.0,6.0,5.0,7.0,Modern day,Town,Vehicles,NaN,1980.0,NaN,NaN,37.0,1.0
21,6647-1,Highway Repair,NaN,167.0,6.0,4.0,1.0,Modern day,Town,Maintenance,NaN,1980.0,NaN,NaN,55.0,1.0
22,6648-2,Dump Truck,NaN,149.0,7.0,4.0,2.0,Modern day,Town,Construction,NaN,1980.0,NaN,NaN,42.0,1.0

(6181, 16)

In [ ]:
setsLs =